<%= form_with(model: article, local: true) do |form| %>
  <div class="form-group">
    <% if article.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

        <ul>
        <% article.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <div class="form-group">
    <div class="field">
      <%= form.label :title , "Title",  class: "col-md-4 control-label" %>
      <%= form.text_field :title, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="field">
      <%= form.label :body, "Body",  class: "col-md-4 control-label" %>
      <%= form.text_area :body, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="field">
      <%= form.label :image , "Image",  class: "col-md-4 control-label"%><br>
      <%= form.file_field :image, class: "form-control" %>
      <% if form.object.image? %>
        <%= image_tag form.object.image.thumb.url %>
        <%= form.label :remove_image %>
        <%= form.check_box :remove_image %> 
      <% end %>
    </div>
  </div>

  <%= form.submit "Submit", class: "btn btn-default btn-primary" %> 
<% end %>
